// sizes
$max-content-width: 120rem;
$content-padding-horizontal: 2rem;
$content-padding-vertical: 3rem;
$border-width: .8rem;
$spinner-size: 6rem;

// transitions
$transition-time: .3s;
$transition-function: ease-out;

// colors
$color-primary: #92140C;
$color-secondary: #ECA72C;
$color-dark: #020402;
$color-light: #FCFFFC;

// font sizes
$font-size-xl: 4rem;
$font-size-lg: 2.6rem;
$font-size-md: 2rem;
$font-size-sm: 1.8rem;